{% extends "amministra_base.html" %}

{% block pageblock%}
<style>
  #generi{
    height:200px;
    width:100px;
  }
</style>
<h1>Inserisci un film</h1>
<form action="/creaFilm" method="POST">
  Titolo:<input name="titolo" type="text">
  Anno:<input name="anno" type="text">
  Regista:<input name="regista" type="text">
  Genere:<select name="generi" id="generi" multiple>
            {% for value in genere%}
            <option value="{{value}}">{{value}}</option>
            {% endfor %}
         </select>
  Durata:<input name="minuti" type="number">
  <input type="submit">
  {% if titolo is defined %}
    <h5>Il film {{titolo}} e' stato creato.</h5>
  {% endif %}
</form>
{% endblock %}
