{% extends "amministra_base.html"%}

{% block pageblock %}
<h1>Aggiungi una proiezione</h1>
<form action="/aggiungiProiezione" method="POST">
  Film:
  <input name="film" list="film">
  <datalist id="film">
  {% for idFilm in listafilm%}
      <option value={{idFilm}}>
  {% endfor %}
  </datalist>
  Sale:
  <input name="sale" list="sale">
  <datalist id="sale">
  {% for sala in listasale%}
    <option value={{sala}}>
  {% endfor %}
  </datalist>
  Orario:<input name="orario" type="datetime-local">
  Prezzo:<input name="prezzo" type="text">
  <input type="submit">
</form>
{% if (film is defined) and (orario is defined) and (sala is defined) %}
<h5>La proiezione di {{film}} nella sala {{sala}} nel giorno e ora {{orario}} e' stata inserita.</h5>
{% endif %}

{% endblock %}
