{% extends "base.html" %}

{% block pageblock %}
Film <strong>{{listaProiezioni[0]["titolo"]}}</strong><br>
Durata <strong>{{listaProiezioni[0]["minuti"]}}</strong> minuti<br><br><br>
Clicca sull'orario per procedere all'acquisto di un posto <br>
<table border="1px" style="text-align:center">
    <tr>
      <th>Orario</th>
      <th>Sala</th>
      <th>Prezzo</th>
    </tr>
    {% for proiezione in listaProiezioni %}
      <tr>
        <td><a href={{url_for("mostraPostiProiezione",id_proiezione=proiezione["idProiezione"],acquistato=False)}}>{{proiezione["orario"]}}</a></td>
        <td>{{proiezione["sala"]}}</td>
        <td>{{proiezione["prezzo"]}}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
